{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
	<head>
		<title>Ingresar</title>
	</head>
	<body>
		<div class="container-fluid">
			
			
			{%if user.is_authenticated %}
				Bienvenido {{user.username|capfirst}}
				<br><br>
				<a href="/turno/registrar" class="btn btn-primary">Pedir un turno</a><br>
				<a href="/cerrar/" class="btn btn-danger">Salir</a><br>
			{%else%}
				{# Load the tag library #}
			
				{# Display a form #}
				<form method="post" class="form">
				{% csrf_token %}
					<table>
						<tr>
							<div class="form-group">
								<td><label>Usuario:</label></td>
								<td><input name="username" type="text" id="inputEmail" placeholder= "Usuario"></td>
							</div>
						</tr>
						<tr>
							<div class="form-group">
								<td><label>Contraseña:</label></td>
								<td><input name= "password" type=password id="inputPassword" placeholder= "Contraseña"></td>
							</div>
						</tr>
						<tr>
						  	{% buttons %}
							    <td><button type="submit" class="btn btn-primary">
							      	{% bootstrap_icon "ok-sign" %} Aceptar
							    </button></td>
							    <td><button type="reset" class="btn btn-danger">
							    	{% bootstrap_icon "remove-sign" %} Limpiar
							    </button></td>
						  	{% endbuttons %}
					  	</tr>
				  	</table>
				</form>
				<h1><a href="/registrar/" class="btn btn-primary">Registrarse</a></h1>
			{%endif%}
		</div>
	</body>
</html>