<html>
	<head>
		
		<title>Lista de Turnos Cancelados</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Lista de Turnos Cancelados</h1>
		{% for turno in turnoListaObjetos %}
		
		{% if turno.estado == "Cancelado" %}
		
		<table class="table table-bordered">
				
				<tr>
					<th>Estado</th>
					<td>{{turno.estado}}</td>
				</tr>
				<tr>
					<th>Fecha y Hora</th>
					<td>{{turno.fechahora}}</td>
				</tr>
				<tr>
					<th>Comentario</th>
					<td>{{turno.comentario}}</td>
				</tr>
				<tr>
					<th>Profesional</th>
					<td>{{turno.pro}}</td>
				</tr>
				{% if turno.notificado == False %}
					<a class="btn btn-success" href="{% url 'notificar_turno' turno.pk %}" >Notificar</a>
				{% endif %}
			</table>
			{%endif%}
		{%endfor%}
	</body>
</html>
