<html>
	<head>
		<meta charset="UTF-8">
		<title> Lista de profesionales</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>Lista de secretarios: </h1>
			{% for secretario in secretariosListaObjetos %}
				<table class="table table-bordered">
					<tr>
						<th>Nombre</th> <td>{{secretario.nombre}}</td>
					</tr>
					<tr>
						<th>Apellido</th>
						<td>{{secretario.apellido}}</td>
					</tr>
					<tr>
						<th>DNI</th>
						<td>{{secretario.documento}}</td>
					</tr>
					<tr>
						<th>Telefono</th>
						<td>{{secretario.telefono}}</td>
					</tr>
					<tr>
						<th>E-mail</th>
						<td>{{secretario.email}}</td>
					</tr>
					<!-- <li><b>Clave: </b>{{secretario.clave}}</li> -->
					<!-- <li><b>Reingresar Clave: </b>{{secretario.reingresarclave}}</li>-->
				</table>
				<br>
			{%endfor%}
		</div>
	</body>
</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>